<div ng-include="'menu.html'"></div>

<ul class="centered rich-list">
    <li ng-repeat="character in project.characters">
        <div ng-show="!character.deleted">
            <a ng-href="#!/projects/{{project.guid | escape}}/characters/{{character.guid | escape}}" class="rich-list-item character">
                <div ng-show="character.icon" class="character-icon">
                    <img ng-src="data:{{character.icon.mime}};base64,{{character.icon.data}}"/>
                </div>
                <div class="rich-list-item-label character-name">{{character.name}}</div>
            </a>
            <div class="rich-list-item-delete" ng-click="removeItem(character)"><i class="fa fa-times"></i></div>
        </div>

        <div ng-show="character.deleted" class="rich-list-item-removed">
            {{character.name}} was deleted. <a href="javascript:void(0)" ng-click="removeUndo(character)">Undo?</a>
        </div>
    </li>
</ul>

<button ng-click="createItem()" class="centered rich-button-add"></button>
