<div ng-include="'menu.html'"></div>

<div>Project page for {{project.name}}</div>

<div class="box-container">
    <div class="box" style="height: 230px;"></div>
    <div class="box" style="height: 220px;"></div>
    <div class="box" style="height: 210px;"></div>
    <div class="box" style="height: 250px;"></div>
    <div class="box" style="height: 230px;"></div>
    <div class="box" style="height: 180px;"></div>
    <div class="box" style="height: 190px;"></div>
    <div class="box" style="height: 230px;"></div>
    <div class="box" style="height: 200px;"></div>
    <div class="box" style="height: 200px;"></div>
    <div class="box" style="height: 210px;"></div>
    <div class="box" style="height: 230px;"></div>
</div>
